<div data-simplebar class="h-100">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
        <!-- Left Menu Start -->
        <ul class="metismenu list-unstyled" id="side-menu" >
           <!--  <li class="menu-title">{{transl 'prj_project_sidebar_menu'}}</li>

            <li>
                <a href="view_prj_dashbord.html" data-href="view_prj_dashbord.html" data-viewpart="prj_dashbord" class="waves-effect menu-item-prj">
                    <i class="bx bx-home-circle"></i><span class="badge badge-pill badge-info float-right">3</span>
                    <span>{{transl 'prj_project_sidebar_dashboard'}}</span>
                </a>
            </li>
 -->

            <!-- App -->

            <li class="menu-title">{{getShopName}}</li>


            <li data-right="view:20501|20502|20503|20504|20505">
            
                <a href="view_per_info.html" data-href="view_per_info.html" data-viewpart="SHP_MAIN" data-right="view:20501|20502|20503|20504|20505" class="waves-effect menu-item-prj" >
                    <i class="bx bx-group"></i>
                   <span>{{transl 'sidebar_shp_per_info'}}</span>
                </a>
           </li> 


            <li data-right="view:10101|10102|10103|10104|10105">
                <a href="javascript: void(0);" class="has-arrow waves-effect">
                    <i class="bx bx-user"></i>
                    <span>{{transl 'sidebar_aut_user'}}</span>
                </a>
                <ul class="sub-menu shp_pointer" aria-expanded="false">
                    <li><a href="view_manager.html" data-href="view_manager.html" data-viewpart="SHP_MAIN" class="menu-item-prj" data-right="view:10101|10102|10103|10104|10105">{{transl 'sidebar_aut_user_typ_01'}}</a></li>
                </ul>
            </li> 
            
            <li data-right="view:20101|20201|20301|20401">
                <a href="javascript: void(0);" class="has-arrow waves-effect">
                    <i class="bx bx-group"></i>
                    <span>{{transl 'sidebar_partner_client'}}</span>
                </a>
                <ul class="sub-menu shp_pointer" aria-expanded="false">
                    <li><a href="view_per_person.html?typ=02" data-href="view_per_person.html?typ=02" data-viewpart="SHP_PER_PERSON" class="menu-item-prj" data-right="view:20101">{{transl 'sidebar_per_person_typ_02'}}</a></li>
                    <li><a href="view_per_person.html?typ=03" data-href="view_per_person.html?typ=03" data-viewpart="SHP_PER_PERSON" class="menu-item-prj" data-right="view:20201">{{transl 'sidebar_per_person_typ_03'}}</a></li>
                    <li><a href="view_per_person.html?typ=04" data-href="view_per_person.html?typ=04" data-viewpart="SHP_PER_PERSON" class="menu-item-prj" data-right="view:20301">{{transl 'sidebar_per_person_typ_04'}}</a></li>
                    <li><a href="view_per_person.html?typ=06" data-href="view_per_person.html?typ=06" data-viewpart="SHP_PER_PERSON" class="menu-item-prj" data-right="view:20401">{{transl 'sidebar_per_person_typ_06'}}</a></li>
                </ul>
            </li> 
           


            <li data-right="view:30101|31001">
                <a href="javascript: void(0);" class="has-arrow waves-effect">
                    <i class="bx bxs-capsule"></i>
                    <span>{{transl 'sidebar_mat'}}</span>
                </a>
                <ul class="sub-menu shp_pointer" aria-expanded="false" >
                    <li><a href="view_mat_material.html" data-href="view_mat_material.html" data-viewpart="SHP_MAIN" class="menu-item-prj" data-right="view:30101">{{transl 'sidebar_mat_material'}}</a></li>
                    <li><a href="view_mat_unit.html" data-href="view_mat_unit.html" data-viewpart="SHP_MAIN" class="menu-item-prj" data-right="view:31001">{{transl 'sidebar_mat_unit'}}</a></li>
                    <li><a href="view_mat_alarm.html" data-href="view_mat_alarm.html" data-viewpart="SHP_MAIN" class="menu-item-prj" data-right="view:31001">{{transl 'sidebar_mat_alarm'}}</a></li>
                 	<li><a href="view_mat_bcode.html" data-href="view_mat_bcode.html" data-viewpart="SHP_MAIN" class="menu-item-prj" data-right="view:31001">{{transl 'sidebar_mat_bcode'}}</a></li>
                 	<li><a href="view_tpy_category.html" data-href="view_tpy_category.html" data-viewpart="SHP_MAIN" class="menu-item-prj" data-right="view:31001">{{transl 'sidebar_tpy_cat'}}</a></li>
                </ul>
            </li> 

            <li data-right="view:410101|410301|410201|33001">
                <a href="javascript: void(0);" class="has-arrow waves-effect">
                    <i class="bx bx-archive-in"></i>
                    <span>{{transl 'sidebar_sor_order_in'}}</span>
                </a>
                <ul class="sub-menu shp_pointer" aria-expanded="false">
                    <li><a href="view_sor_order_in_buy.html" data-href="view_sor_order_in_buy.html" 		data-viewpart="SHP_MAIN" class="menu-item-prj" data-right="view:410101">{{transl 'sidebar_sor_order_in_buy'}}</a></li>
                    <li><a href="view_sor_order_in_bal.html" data-href="view_sor_order_in_bal.html" 		data-viewpart="SHP_MAIN" class="menu-item-prj" data-right="view:410301">{{transl 'sidebar_sor_order_in_bal'}}</a></li>
                    <li><a href="view_sor_order_in_transfert.html" data-href="view_sor_order_in_transfert.html" data-viewpart="SHP_MAIN" class="menu-item-prj" data-right="view:410201">{{transl 'sidebar_sor_order_in_transfert'}}</a></li>
                    <li><a href="view_mat_ware_house.html" data-href="view_mat_ware_house.html" 				data-viewpart="SHP_MAIN" class="menu-item-prj" data-right="view:33001">{{transl 'sidebar_mat_ware_house'}}</a></li>
                   
                </ul>
            </li> 
            
            <li data-right="view:420101|420301|420201">
                <a href="javascript: void(0);" class="has-arrow waves-effect">
                    <i class="bx bx-archive-out"></i>
                    <span>{{transl 'sidebar_sor_order_out'}}</span>
                </a>
                <ul class="sub-menu shp_pointer" aria-expanded="false">
                    
                    <li><a href="view_sor_order_out_sell.html" data-href="view_sor_order_out_sell.html" 		data-viewpart="SHP_MAIN" class="menu-item-prj" data-right="view:420101">{{transl 'sidebar_sor_order_out_sell'}}</a></li>
                    
                    <li><a href="view_sor_order_out_bal.html" 		data-href="view_sor_order_out_bal.html" 			data-viewpart="SHP_MAIN" class="menu-item-prj" data-right="view:420301">{{transl 'sidebar_sor_order_out_bal_stk'}}</a></li>
                    <li><a href="view_sor_order_out_bal_fail.html" 	data-href="view_sor_order_out_bal_fail.html" 		data-viewpart="SHP_MAIN" class="menu-item-prj" data-right="view:420301">{{transl 'sidebar_sor_order_out_bal_fail'}}</a></li>
                    <li><a href="view_sor_order_out_bal_other.html" data-href="view_sor_order_out_bal_other.html" 		data-viewpart="SHP_MAIN" class="menu-item-prj" data-right="view:420301">{{transl 'sidebar_sor_order_out_bal_other'}}</a></li>
                    
                    
                    <li><a href="view_sor_order_out_transfert.html" data-href="view_sor_order_out_transfert.html" 	data-viewpart="SHP_MAIN" class="menu-item-prj" data-right="view:420201">{{transl 'sidebar_sor_order_out_transfert'}}</a></li>
                    
                    <li><a href="view_sor_order_out_stat.html" data-href="view_sor_order_out_stat.html" 		data-viewpart="SHP_MAIN" class="menu-item-prj" data-right="view:420101">{{transl 'sidebar_sor_order_out_stat'}}</a></li>

                    <li><a href="view_sor_deal.html" data-href="view_sor_deal.html" 		data-viewpart="SHP_MAIN" class="menu-item-prj" data-right="view:425001">{{transl 'sidebar_sor_deal'}}</a></li>
                </ul>
            </li> 
            
            
            <li data-right="view:420102">
                <a href="view_stockCheck.html" data-href="view_stockCheck.html" data-viewpart="SHP_MAIN" data-right="view:420102" class="waves-effect menu-item-prj" >
                    <i class="bx bx-check-double"></i>
                   <span>{{transl 'sidebar_shp_checkStock'}}</span>
                </a>
           </li> 

            <li data-right="view:420102">
                 <a href="view_vendor.html" data-href="view_vendor.html" data-viewpart="SHP_MAIN" data-right="view:420102" class="waves-effect menu-item-prj" >
                 	<i class="bx bx-shopping-bag"></i>
                    <span>{{transl 'sidebar_shp_vendor'}}</span>
                 </a>
            </li> 

           <hr>
			<li data-right="view:30101|31001">
                <a href="javascript: void(0);" class="has-arrow waves-effect">
                    <i class="bx bx-news"></i>
                    <span>{{transl 'sidebar_nso'}}</span>
                </a>
                <ul class="sub-menu shp_pointer" aria-expanded="false" >
                    <li><a href="view_nso_post.html" data-href="view_nso_post.html" data-viewpart="SHP_MAIN" class="menu-item-prj" data-right="view:30101">{{transl 'sidebar_nso_post'}}</a></li>
                </ul>
            </li> 
            <!-- Tools -->

            <!-- <li class="menu-title">{{transl 'prj_project_sidebar_tools'}}</li>
             <li>
                <a href="view_prj_email.html" data-href="view_prj_email.html" data-viewpart="prj_email" class="waves-effect menu-item-prj">
                    <i class="bx bx-envelope"></i>
                    <span>{{transl 'prj_project_sidebar_email'}}</span>
                </a>
            </li>
            <li>
                <a href="view_prj_chat_room.html" data-href="view_prj_chat_room.html" data-viewpart="prj_chatroom" class="waves-effect menu-item-prj">
                    <i class="bx bx-chat"></i>
                    <span id="span_new_msg" class="badge badge-pill badge-success float-right hide">New</span>
                    <span>{{transl 'prj_project_sidebar_chat'}}</span>
                </a>
            </li> -->
        </ul>
    </div>
</div>
