<div class="box-body">
	<div id="div_CMS_Camera" class="col-lg-12 col-md-12 col-sm-12" style="padding:0">
		<div class="box-body text-center no-padding">
			<div class="select" style="display: none;">
				<label for="audioSource">Audio input source</label>
				<select id="audioSource"></select>
			</div>

			<div class="select" style="display: none;">
				<label for="audioOutput">Audio output destination</label>
				<select id="audioOutput"></select>
			</div>

			<div class="select" style="display: none;">
				<label for="videoSource">Video source</label>
				<select id="videoSource"></select>
			</div>
			
			<div id="videoSourceBtns"></div>
			
			<video id="camera" playsinline autoplay></video>
			
			<div>
				<button id="take_snapshot" 		class="btn btn-success"
					data-toggle="tooltip" title="{{transl 'camera_take_snapshot'}}"><i class="fa fa-camera"></i></button>
				<button id="record_snapshot" 	class="btn btn-warning"
					data-toggle="tooltip" title="{{transl 'camera_record_snapshot'}}"><i class="fa fa-video-camera"></i></button>
			</div>
		</div>
		
		<div class="box-footer no-padding">
			<div id="snapshots"></div>

			<!-- <div>
				<button id="discard_snapshot" class="btn btn-danger"
					data-toggle="tooltip" title="{{transl 'camera_discard_snapshot'}}"><i class="fa fa-remove"></i></button>
				<button id="upload_snapshot" class="btn btn-primary pull-right"
					data-toggle="tooltip" title="{{transl 'camera_upload'}}"><i class="fa fa-cloud"></i></button>
			</div> -->
		</div>
	
	</div>


</div>