<div id="msb_message_box_{{num}}" class="modal msg-box" role="dialog" style="display: none;">
	<div class="modal-dialog center-msgbox modal-dialog-shp">
		<!-- Modal content-->
<!-- 		<div class="modal-content shp_fit-content"> -->
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"></h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<p></p>
			</div>
			<div class="modal-footer">				
			</div>
		</div>

	</div>
</div>

<!-- 
$("#msb_message_box.modal-title").html($.i18n("traca_common_msg_header_01"));
$("#msb_message_box.modal-body").html($.i18n("traca_scan_lab_msg_03"));
$("#msb_message_box").modal("show");
 -->
