<div class="card">
    <div class="card-body">
        <div  class="pull-right">
            <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect" id="vertical-list-btn">
                <i class="fa fa-fw fa-clone"></i>
            </button>
            <a data-divtoogle="#div_List_All" class="btn-minimize-list" data-toggle="tooltip"
                data-placement="top" title="" data-original-title="Resize">
                <i class="mdi mdi-window-minimize font-size-18"></i>
            </a>
        </div>

        <div id="div_List_All">
            <div  id="div_List_Stat_0" ></div>  <!-- Draft -->
            <div  id="div_List_Stat_2" ></div>	<!-- Accepted -->
            <div  id="div_List_Stat_3" ></div>	<!-- Denied -->
            <div  id="div_List_Stat_4" ></div>	<!-- Deleted -->
            
            <div  id="div_List_Eval_Accepted"></div>
        </div>

    </div>
</div>

