<div class="card">
	<div class="card-body">
		<div class="media">
			<div class="col-9">
				<h4 class="card-title mb-4 shp_font_size"> </h4>
			</div>

			<div class="col-3 isManager">
				<div class="text-sm-right">
					<a data-divtoogle="#div_frm_manager" class="btn-resize" data-toggle="tooltip"
						data-placement="top" title="" data-original-title="Resize">
						<i class="mdi mdi-window-minimize font-size-18"></i>
					</a>
				</div>
			</div>
		</div>

		<div class="form-horizontal custom-scroll-header" id = 'div_frm_manager'>
			<div class="box-body row">
				<!-- 	*Content here* -->
				<div class="col-lg-8 col-md-8 col-sm-12">
					<div class="form-group">
						<input type="hidden" class="objData" value={{id}} 			data-name="id" data-validation="number" />
						<input type="hidden" class="objData" value="{{translId}}" 	data-name="translId" id="inp_translId">
					</div>
					
					<div class="form-group row">
						<label class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl 'nso_post_news_ent_title'}} *</label>
						<div class="col-lg-8 col-md-8 col-sm-8">
							<input type="text" class="form-control objData transl" id="title"
								value="{{title}}" data-name="title" data-validation="required" placeholder="">
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl 'nso_post_news_ent_ref'}}</label>
						<div class="col-lg-8 col-md-8 col-sm-8">
							<input type="text" class="form-control" id="ref" value="{{ref}}" data-name="ref" data-editable="false" disabled>
						</div>
					</div>
					
	 				<div class="form-group row">
	 					<label class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl 'nso_post_news_ent_content_01'}} 
							<a 	class="btn htmlEditor" data-dest = "#cont01" data-funct= "val"> 
								<i class="fa fa-file-text-o"></i>
							</a>
	 					</label>
						<div class="col-lg-8 col-md-8 col-sm-8">
							<textarea class="form-control objData transl" id="inp_cont01" style="resize: vertical" rows="3" data-name="cont01">{{decodeUTF8 cont01}}</textarea>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl 'nso_post_news_ent_content_02'}} 
							<a 	class="btn htmlEditor" data-dest = "#cont02" data-funct= "val"> 
								<i class="fa fa-file-text-o"></i>
							</a>
	 					</label>
						<div class="col-lg-8 col-md-8 col-sm-8">
							<textarea class="form-control objData transl" id="inp_cont02" style="resize: vertical" rows="3" data-name="cont02">{{decodeUTF8 cont02}}</textarea>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl 'nso_post_news_ent_content_03'}} 
							<a 	class="btn htmlEditor" data-dest = "#cont03" data-funct= "val"> 
								<i class="fa fa-file-text-o"></i>
							</a>
	 					</label>
						<div class="col-lg-8 col-md-8 col-sm-8">
							<textarea class="form-control objData transl" id="inp_cont03" style="resize: vertical" rows="3" data-name="cont03">{{decodeUTF8 cont03}}</textarea>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl 'nso_post_news_ent_content_04'}} 
							<a 	class="btn htmlEditor" data-dest = "#cont04" data-funct= "val"> 
								<i class="fa fa-file-text-o"></i>
							</a>
	 					</label>
						<div class="col-lg-8 col-md-8 col-sm-8">
							<textarea class="form-control objData transl" id="inp_cont04" style="resize: vertical" rows="3" data-name="cont04">{{decodeUTF8 cont04}}</textarea>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl 'nso_post_news_ent_content_05'}} 
							<a 	class="btn htmlEditor" data-dest = "#cont05" data-funct= "val"> 
								<i class="fa fa-file-text-o"></i>
							</a>
	 					</label>
						<div class="col-lg-8 col-md-8 col-sm-8">
							<textarea class="form-control objData transl" id="inp_cont05" style="resize: vertical" rows="3" data-name="cont05">{{decodeUTF8 cont05}}</textarea>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl 'nso_post_news_ent_content_06'}} 
							<a 	class="btn htmlEditor" data-dest = "#cont06" data-funct= "val"> 
								<i class="fa fa-file-text-o"></i>
							</a>
	 					</label>
						<div class="col-lg-8 col-md-8 col-sm-8">
							<textarea class="form-control objData transl" id="inp_cont06" style="resize: vertical" rows="3" data-name="cont06">{{decodeUTF8 cont06}}</textarea>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl 'nso_post_news_ent_content_07'}} 
							<a 	class="btn htmlEditor" data-dest = "#cont07" data-funct= "val"> 
								<i class="fa fa-file-text-o"></i>
							</a>
	 					</label>
						<div class="col-lg-8 col-md-8 col-sm-8">
							<textarea class="form-control objData transl" id="inp_cont07" style="resize: vertical" rows="3" data-name="cont07">{{decodeUTF8 cont07}}</textarea>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl 'nso_post_news_ent_content_08'}} 
							<a 	class="btn htmlEditor" data-dest = "#cont08" data-funct= "val"> 
								<i class="fa fa-file-text-o"></i>
							</a>
	 					</label>
						<div class="col-lg-8 col-md-8 col-sm-8">
							<textarea class="form-control objData transl" id="inp_cont08" style="resize: vertical" rows="3" data-name="cont08">{{decodeUTF8 cont08}}</textarea>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl 'nso_post_news_ent_content_09'}} 
							<a 	class="btn htmlEditor" data-dest = "#cont09" data-funct= "val"> 
								<i class="fa fa-file-text-o"></i>
							</a>
	 					</label>
						<div class="col-lg-8 col-md-8 col-sm-8">
							<textarea class="form-control objData transl" id="inp_cont09" style="resize: vertical" rows="3" data-name="cont09">{{decodeUTF8 cont09}}</textarea>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl 'nso_post_news_ent_content_10'}} 
							<a 	class="btn htmlEditor" data-dest = "#cont10" data-funct= "val"> 
								<i class="fa fa-file-text-o"></i>
							</a>
	 					</label>
						<div class="col-lg-8 col-md-8 col-sm-8">
							<textarea class="form-control objData transl" id="inp_cont10" style="resize: vertical" rows="3" data-name="cont10">{{decodeUTF8 cont10}}</textarea>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="form-group row">
						<label for="stat" class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl "nso_post_news_ent_status"}}</label>
		
						<div class="col-lg-8 col-md-8 col-sm-8">
							<select class="form-control objData" data-name="stat" id="sel_stat">
								<option value="0">{{transl "nso_post_news_ent_status_draft"}}			</option>
								<option value="2">{{transl "nso_post_news_ent_status_validated"}}		</option>
								<option value="3">{{transl "nso_post_news_ent_status_reported"}}		</option>
								<option value="4">{{transl "nso_post_news_ent_status_deleted"}}			</option>
							</select>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl "nso_post_news_ent_type"}} *</label>
		
						<div class="col-lg-8 col-md-8 col-sm-8" id='div_Ent_Header_Entity_Type'>
							<select class="form-control objData" data-name="typ01" id="sel_typ01" data-validation="required" disabled>
								<option value="101">{{transl "nso_post_news_ent_type_blog"}}</option>
								<option value="100">{{transl "nso_post_news_ent_type_offer"}}</option>
							</select>
						</div>
					</div>
					
					<div class="form-group row">
						<label for="typ02" class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl "nso_post_news_ent_opt_lang"}} *</label>
		
						<div class="col-lg-8 col-md-8 col-sm-8">
							<select class="form-control objData" data-validation="required" data-name="typ02" id="sel_lang" data-editable="false">
								<option value="1" {{#ifLangId "1" typ02}} selected {{/ifLangId}}>{{transl "lang_vn"}}</option>
								<option value="2" {{#ifLangId "2" typ02}} selected {{/ifLangId}}>{{transl "lang_en"}}</option>
								<option value="3" {{#ifLangId "3" typ02}} selected {{/ifLangId}}>{{transl "lang_fr"}}</option>
							</select>
						</div>
					</div>
					
					<div class="form-group row">
						<label for="cmt" class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl "nso_post_news_ent_comment"}}</label>
		
						<div class="col-lg-8 col-md-8 col-sm-8">
							<input type="text" class="form-control objData" id="inp_cmt"
								value="{{decodeUTF8 cmt}}" data-name="cmt"
								placeholder="Nhập blog liên kết youtube...">
						</div>
					</div>
					
<!-- 					<div class="form-group row"> -->
<!-- 						<label for="dtMod" class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl "nso_post_news_ent_parent"}}</label> -->
		
<!-- 						<div class="col-lg-8 col-md-8 col-sm-8"> -->
<!-- 							<input type="text" class="form-control objData" id="parId" value="{{parId}}" data-name="parId" placeholder="" disabled data-editable="false"> -->
<!-- 						</div> -->
<!-- 					</div> -->
					
					<div class="form-group row">
						<label for="dtAdd" class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl "nso_post_news_ent_date_add"}}</label>
		
						<div class="col-lg-8 col-md-8 col-sm-8">
							<input type="text" class="form-control" id="inp_dtAdd"
								value="{{dateFormatLocal dtAdd}}" data-name="dtAdd"
								placeholder="" disabled>
						</div>
					</div>
					
					<div class="form-group row">
						<label for="dtMod" class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl "nso_post_news_ent_date_mod"}}</label>
		
						<div class="col-lg-8 col-md-8 col-sm-8">
							<input type="text" class="form-control" id="inp_dtMod"
								value="{{dateFormatLocal dtMod}}" data-name="dtMod"
								placeholder="" disabled>
						</div>
					</div>
					
					<div class="form-group row">
						<label for="login" class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl "nso_post_news_ent_user"}}</label>
		
						<div class="col-lg-8 col-md-8 col-sm-8">
							<input type="text" class="form-control" id="inp_login"
								value="{{decodeUTF8 login}}" data-name="login"
								placeholder="" disabled>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


