<!-- *Content here* -->
<div class="card">
    <div class="card-body">
        <div class="media">
            <div class="col-12 isManager">
                <div class="text-sm-right">
                    <a data-divtoogle="#div_Shp_NsoPost_Ent_Tab_Doc_All" class="btn-resize" data-toggle="tooltip"
                        data-placement="top" title="" data-original-title="Resize">
                        <i class="mdi mdi-window-minimize font-size-18"></i>
                    </a>
                </div>
            </div>
        </div>
		<div id="div_Shp_NsoPost_Ent_Tab_Doc_All" class="row col-12">
	        <div id="div_Shp_NsoPost_Ent_Tab_Doc" class="col-lg-6 col-md-6 col-sm-12">
	        	<div class="col-12">
	                <h4 class="card-title mb-4 shp_font_size">{{transl "nso_post_news_ent_tab_doc_avatar"}}</h4>
	            </div>
	            <input type="file" class="objData fileinput" data-maxfile="1" data-name="files"
	                data-keepName="0" data-code="200001" data-type="avatar" data-typ01="1" data-typ02="1" />
	        </div>
	        
	        <div id="div_Shp_NsoPost_Ent_Tab_Doc_File" class="col-lg-6 col-md-6 col-sm-12">
	        	<div class="col-12">
	                <h4 class="card-title mb-4 shp_font_size">{{transl "nso_post_news_ent_tab_doc_images"}}</h4>
	            </div>
	            <input type="file" class="objData fileinput" data-name="files"
	                data-keepName="0" data-code="200001" data-typ01="1" data-typ02="2"  multiple/>
	        </div>
        </div>
    </div>
</div>