<div class="box box-default box-solid" data-right="view:30101">
	<div class="card">
		<div class="card-body" data-right="view:30101">

			<div class="media" data-right="view:30101">
				<div class="col-sm-10" data-right="view:30101">
					<h4 class="card-title mb-4 shp_font_size">{{transl title}}</h4>
				</div>

				<div class="col-sm-2 isManager" data-right="view:30101">
					<div class="text-sm-right">
						<a 	data-divtoogle		="#div_List_Tab_Content_{{status}}"
							data-toggle			="tooltip" 
							class				="btn-resize" 
							data-placement		="top"
							title				="" 
							data-original-title	="Resize"> 
							<i class="mdi mdi-window-minimize font-size-18"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="shp_table_padding" id="div_List_Tab_Content_{{status}}">
				<div id="tabMember" class="table-responsive " style="display: block;"></div>
				<table
					class="table table-striped table-hover table-datatableDyn  table-centered table-nowrap">
					<thead>
						<tr>
							<th data-name="id" 	    data-visible="false"></th>
							<th data-name="ref" 	data-visible="true">{{transl 	"nso_post_news_ent_ref"}}</th>
							<th data-name="title" 	data-visible="true">{{transl 	"nso_post_news_ent_title"}}</th>
							<th data-name="dtMod"   data-visible="true">{{transl 	"nso_post_news_ent_date_mod"}}</th>
							<th data-name="typ"     data-visible="true">{{transl 	"nso_post_news_ent_type"}}</th>
						</tr>
					</thead>

					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>