
<div id="div_Ent_Btn" class="custom-affix" custom-affix-offset="1" custom-affix-value="20"></div>

<div id="div_Ent_Header" 	></div>
<div id="div_Ent_Tabs"  	></div>

<div id="div_Ent_Btn_Sub" class="custom-affix" custom-affix-offset="1" custom-affix-value="20"></div>