<table class="table table-striped table-hover table-datatableDyn  table-centered table-datatable">
	<thead>
		<tr>
			<th data-name="login" 		data-visible="true">{{transl "aut_user_list_login"}}	</th> 
			<th data-name="info01" 	    data-visible="true">{{transl "aut_user_list_name"}}	</th>
			<th data-name="info02" 	    data-visible="true">{{transl "aut_user_list_email"}}	</th>
			<th data-name="id" data-class="text-right" data-visible="true" data-validation="number">{{transl "common_field_id"}}</th>
		</tr>
	</thead>
	
	<tbody>
	</tbody>
</table>