<div class="card">
    <div class="card-body">
        <div  class="pull-right">
            <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect" id="vertical-list-btn">
                <i class="fa fa-fw fa-clone"></i>
            </button>
            <a data-divtoogle="#div_MatMaterial_Lists" class="btn-minimize-list" data-toggle="tooltip"
                data-placement="top" title="" data-original-title="Resize">
                <i class="mdi mdi-window-minimize font-size-18"></i>
            </a>
        </div>

        <div>
            <div  id="div_List_Material"  ></div>
            <div  id="div_List_Blog" ></div>
        </div>

    </div>
</div>