<div class="card">
	<div class="card-body">
		<div class="media">
			<div class="col-9">
				<h4 class="card-title mb-4 shp_font_size"> </h4>
			</div>

			<div class="col-3 isManager">
				<div class="text-sm-right">
					<a data-divtoogle="#div_frm_manager" class="btn-resize" data-toggle="tooltip"
						data-placement="top" title="" data-original-title="Resize">
						<i class="mdi mdi-window-minimize font-size-18"></i>
					</a>
				</div>
			</div>
		</div>

		<div class="form-horizontal custom-scroll-header" id = 'div_frm_manager'>
			<div class="box-body row">
				<!-- 	*Content here* -->
				<div class="col-lg-4 col-md-4 col-sm-12">
					<label for="inp_tpy_market_header_logo">{{transl "per_ent_header_logo"}}</label>
					<input id="inp_tpy_market_header_logo" class="fileinput objData" data-maxfile="1" type="file" 
							data-type="avatar" data-name="files" data-keepName="0" data-entTyp="30000" data-typ01="1" data-typ02="1"/>
				</div>
				
				<div class="col-lg-8 col-md-8 col-sm-12">
					<div class="form-group">
						<input type="hidden" class="objData" value={{id}} 		data-name="id" data-validation="number" />
						<input type="hidden" class="objData" value="{{typ02}}"  data-name="typ02" id="inp_tpy_type_02"/>		
					</div>
					
					<div class="form-group row">
						<label for="inp_name" class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl 'tpy_cat_name_label'}} *</label>
						<div class="col-lg-8 col-md-8 col-sm-8">
							<input id="inp_name" data-validation="required"
								data-msgClass="errMsgInline" class="objData form-control"
								type="text" data-name="name" value="{{name}}"
								data-label="{{transl 'tpy_cat_name_label'}}"
								data-validation="required" />
						</div>
					</div>
					
					<div class="form-group row">
						<label for="inp_code" class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl 'tpy_cat_code_label'}} *</label>
						<div class="col-lg-8 col-md-8 col-sm-8">
							<input id="inp_code" data-validation="required" class="form-control objData"
								data-name="code" value="{{code}}" />
						</div>
					</div>
					
					<div class="form-group row">
						<label for="sel_parType" class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl 'parType'}} *</label>
						<div class="col-lg-8 col-md-8 col-sm-8">
							<select id="sel_parType" class="form-control objData" data-validation="required" data-name="typ00">
								<option value="-1">{{transl "type_please_select"}}</option>
								<option value="100">{{transl "type_material"}}</option>
								<option value="200">{{transl "type_blog"}}</option>								
							</select>
						</div>
					</div>
					
	 				<div class="form-group row">
	 					<label for="div_type_01" class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl 'tpy_cat_type_01'}} *</label>
	 					<div class="col-lg-8 col-md-8 col-sm-8">
							<select id="sel_type_01"  class="form-control objData" data-validation="required"  data-name="typ01">
								<option value="1">{{transl 'tpy_cat_type_01_01'}}</option>
								<option value="2">{{transl 'tpy_cat_type_01_02'}}</option>
								<option value="3">{{transl 'tpy_cat_type_01_03'}}</option>
								<option value="4">{{transl 'tpy_cat_type_01_04'}}</option>
							</select>
						</div>
					</div>
					
					<div class="form-group row">
						<label for="div_par_cat" class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl 'tpy_cat_parent_type'}}</label>
						<div class="col-lg-8 col-md-8 col-sm-8">
							<input type="hidden" class="objData" data-name="parId" id="inp_parId" data-validation="number" value="{{parId}}">
							<input type="text" 	 class="form-control objData" id="inp_sel_parId" value="{{decodeUTF8 parName}}" disabled>
							
						</div>
					</div>
					
					<div class="form-group row">
						<label for="table_descr" class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl 'tpy_cat_transl_label'}}</label>
						<div class="col-lg-8 col-md-8 col-sm-8">
							<table id="table_descr" class="table table-hover objData" data-name="descr" data-primary="lang">
								<thead>
									<tr>
										<th data-name="id" 			data-visible="false">id</th>
										<th data-name="lang" 		data-visible="true" data-validation="required">{{transl "tpy_cat_lang_label"}}*</th>
										<th data-name="name" 		data-visible="true" data-validation="required">{{transl "tpy_cat_name_label"}}*</th>
										<th data-name="action" 		data-visible="true" ></th>
									</tr>
								</thead>
								<tbody style="background-color: white;">
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

