<!-- *Content here* -->
<div class="card">
    <div class="card-body">
        <div class="media">
            <div class="col-9">
                <h4 class="card-title mb-4 shp_font_size">{{transl "mat_material_tab_doc_title_ava"}}</h4>
            </div>

            <div class="col-3 isManager">
                <div class="text-sm-right">
                    <a data-divtoogle="#div_Shp_Per_Ent_Tab_Doc" class="btn-resize" data-toggle="tooltip"
                        data-placement="top" title="" data-original-title="Resize">
                        <i class="mdi mdi-window-minimize font-size-18"></i>
                    </a>
                </div>
            </div>
        </div>

        <div id="div_Shp_Per_Ent_Tab_Doc" >
            <input type="file" class="objData fileinput" data-maxfile="1" data-name="files"
                data-keepName="0" data-entTyp="30000" data-type="avatar" data-typ01="1" data-typ02="1" />
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="media">
            <div class="col-9">
                <h4 class="card-title mb-4 shp_font_size">{{transl "mat_material_tab_doc_title"}}</h4>
            </div>

            <div class="col-3 isManager">
                <div class="text-sm-right">
                    <a data-divtoogle="#div_Shp_Per_Ent_Tab_Doc_File" class="btn-resize" data-toggle="tooltip"
                        data-placement="top" title="" data-original-title="Resize">
                        <i class="mdi mdi-window-minimize font-size-18"></i>
                    </a>
                </div>
            </div>
        </div>

        <div id="div_Shp_Per_Ent_Tab_Doc_File">
            <input type="file" class="objData fileinput" data-name="files"
                data-keepName="0" data-entTyp="30000" data-typ01="2" multiple/>
        </div>
    </div>
</div>