<head>
        <meta charset="utf-8" />
        <title>Material manager</title>
        <link rel="icon" href="www/img/favicon/favicon.ico" type="image/x-icon">
        
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Dashboard" name="description" />
        <meta content="Themesbrand" name="HNV" />
        
        <link href="www/js/lib/prj/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
        <link href="www/js/lib/prj/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
        
        <link href="www/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <link href="www/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="www/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
        <link href="www/css/_main_prj.css" rel="stylesheet" type="text/css" />
        <link href="www/css/custom_pagination.css" rel="stylesheet" type="text/css" />
        <link href="www/css/custom_box.css" rel="stylesheet" type="text/css" />
        <link href="www/css/custom_dboard.css" rel="stylesheet" type="text/css" />
        <link href="www/css/bootstrap-glyphicons.css" rel="stylesheet" type="text/css" />
        <link href="www/css/font-awesome4.1.0.min.css" rel="stylesheet" type="text/css" >

  		<link href="www/css/custom-fileInput.css" rel="stylesheet" type="text/css" />
        <link href="www/js/lib/prj/summernote/summernote-bs4.min.css" rel="stylesheet" type="text/css" />	
        
        <!-- <link href="/www/js/lib/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/www/js/lib/datatables/extensions/ColReorder/css/dataTables.colReorder.css" rel="stylesheet" type="text/css" /> -->
        <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet"/> -->
        <script defer src="www/js/app.js?hnv1.25"></script>
        <script defer src="www/js/require.js" data-main="www/js/app_manager.js?hnv1.25"></script>
        
    </head>
    <body data-sidebar="dark">
    	
    	<div id="login_page"></div>
    	
        <!-- Begin page -->
        <div id="layout-wrapper"></div>
        <!-- END layout-wrapper -->

        <!-- Right Sidebar -->
        <div id="div_right_bar" class="right-bar"></div>
        <!-- /Right-bar -->

        <!-- Right bar overlay-->
        <div id="div_rightbar_overlay" class="rightbar-overlay"></div>

		<script>
			var FIRST_VIEW 	= "VI_MAIN";
			var VIEW_PART 	= "VI_PER_PERSON";
		</script>
        
    </body>
</html>
