<section class="page-content" data-right="view:7000001">
	<div class="row panel-container">
		<div id="div_List" class="col-lg-3 col-md-3 col-sm-12 panel-left" ></div>
<!-- 		<div class="splitter"></div> -->
		<div id="div_Ent" class="col-lg-9 col-md-9 col-sm-12 panel-right" ></div>
	</div>
</section>
