<div class="card"> <div class="card-body">
	
	<div id="div_Ent_Btn_Left" class="pull-left">
		<a id="btn_save" 		class="btn btn-app custom-btn-app" data-toggle="tooltip" title="{{transl 'common_btn_save'}}"> 
			<i class="fa fa-save"></i>
		</a>
		<a id="btn_cancel" 	class="btn btn-app custom-btn-app" data-toggle="tooltip" title="{{transl 'common_btn_cancel'}}"> 
			<i class="fa fa-remove"></i>
		</a>
	</div>
	
	<div id="div_Ent_Btn_Right"class="pull-right">
		<a id="btn_create" 	class="btn btn-app custom-btn-app" data-toggle="tooltip" title="{{transl 'common_btn_new'}}" data-right="view:7000002"> 
			<i class="fa fa-plus"></i>
		</a>
		<a id="btn_duplicate" 	class="btn btn-app custom-btn-app" data-toggle="tooltip" title="{{transl 'common_btn_duplicate'}}" data-right="view:7000002"> 
			<i class="fa fa-object-ungroup"></i>
		</a>
		<a id="btn_edit" 		class="btn btn-app custom-btn-app" data-toggle="tooltip" title="{{transl 'common_btn_modify'}}" data-right="view:7000003"> 
			<i class="fa fa-edit"></i>
		</a>
		<a id="btn_del" 		class="btn btn-app custom-btn-app" data-toggle="tooltip" title="{{transl 'common_btn_delete'}}" data-right="view:7000004"> 
			<i class="fa fa-trash"></i>
		</a>
		<a id="btn_export" 	class="btn btn-app custom-btn-app" data-toggle="tooltip" title="{{transl 'common_btn_export'}}" data-right="view:7000005"> 
			<i class="fa fa-download"></i>
		</a>
		<a id="btn_send" 		class="btn btn-app custom-btn-app" data-toggle="tooltip" title="{{transl 'common_btn_send'}}"> 
			<i class="fa fa-send"></i>
		</a>
		<a id="btn_print" 		class="btn btn-app custom-btn-app" data-toggle="tooltip" title="{{transl 'common_btn_print'}}"> 
			<i class="fa fa-print"></i>
		</a>
		<a id="btn_transform" 	class="btn btn-app custom-btn-app" data-toggle="tooltip" title="{{transl 'common_btn_transform'}}"> 
			<i class="fa fa-recycle"></i>
		</a>
	</div>
	
</div></div>