<div class="card">
	<div class="card-body">
		<div class="media">
			<div class="col-9">
				<h4 class="card-title mb-4 shp_font_size"> </h4>
			</div>

			<div class="col-3 isManager">
				<div class="text-sm-right">
					<a data-divtoogle="#div_frm_manager" class="btn-resize" data-toggle="tooltip"
						data-placement="top" title="" data-original-title="Resize">
						<i class="mdi mdi-window-minimize font-size-18"></i>
					</a>
				</div>
			</div>
		</div>

		<div class="form-horizontal custom-scroll-header" id = 'div_frm_manager'>
			<div class="box-body row">
				<!-- 	*Content here* -->
				
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="form-group row">
						<label for="inp_id" class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl 'aut_right_id'}} *</label>
						<div class="col-lg-8 col-md-8 col-sm-8">
							<input id="inp_id" data-validation="required" class="form-control objData" data-msgClass="errMsgInline"
								data-name="id" value="{{id}}" />
						</div>
					</div>
					
					<div class="form-group row">
						<label for="inp_name" class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl 'aut_right_name'}} *</label>
						<div class="col-lg-8 col-md-8 col-sm-8">
							<input id="inp_name" data-validation="required"
								data-msgClass="errMsgInline" class="objData form-control"
								type="text" data-name="name" value="{{name}}"
								data-label="{{transl 'aut_right_name'}}"
								data-validation="required" />
						</div>
					</div>
					
					
					
					<div class="form-group row">
						<label for="sel_tpy_cat_market_parType" class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl 'aut_right_grp'}} *</label>
						<div class="col-lg-8 col-md-8 col-sm-8">
							<select id="sel_grp" class="form-control objData" data-validation="required" data-name="grp">
								<option value="aut_user">{{transl 'aut_right_grp_aut_user'}}</option>
								<option value="aut_role">{{transl 'aut_right_grp_aut_role'}}</option>
								<option value="aut_right">{{transl 'aut_right_grp_aut_right'}}</option>								
							</select>
						</div>
					</div>
					
					<div class="form-group row">
						<label for="div_tpy_cat_market_par_cat" class="col-lg-4 col-md-4 col-sm-4 control-label">{{transl 'aut_right_descr'}}</label>
						<div class="col-lg-8 col-md-8 col-sm-8">
							<input type="text" class="form-control objData" data-name="descr" id="inp_descr"  value="{{descr}}">
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>

