<!-- <div class="home-btn d-none d-sm-block"> -->
<!--     <a href="index.html" class="text-dark"><i class="fas fa-home h2"></i></a> -->
<!-- </div> -->
<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card overflow-hidden">
                    <div class="bg-soft-primary">
                        <div class="row">
                            <div class="col-7">
                                <div class="text-primary p-4">
                                    <h5 class="text-primary">{{transl 'prj_project_login_welcome'}}</h5>
                                    <p>{{transl 'prj_project_login_msg_signin'}}</p>
                                </div>
                            </div>
                            <div class="col-5 align-self-end">
                                <img src="www/img/prj/profile-img.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0"> 
                        <div>
                            <a href="index.html">
                                <div class="avatar-md profile-user-wid mb-4">
                                    <span class="avatar-title rounded-circle bg-light">
                                        <img src="www/img/prj/logo.svg" alt="" class="rounded-circle" height="34">
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="p-2">
                            <form class="form-horizontal" action="index.html">

                                <div class="form-group">
                                    <label for="inp_Username">{{transl 'prj_project_login_username'}}</label>
                                    <input type="text" class="form-control" id="inp_Username" placeholder="{{transl 'prj_project_login_enter_username'}}">
                                </div>
        
                                <div class="form-group">
                                    <label for="inp_Password">{{transl 'prj_project_login_password'}}</label>
                                    <input type="password" class="form-control" id="inp_Password" placeholder="{{transl 'prj_project_login_enter_password'}}">
                                </div>
        
                                <div class="custom-checkbox">
                                    <input type="checkbox" class="" id="inp_remember" style="vertical-align: text-top;margin-right: 5px;">
                                    <label class="" for="customControlInline">{{transl 'prj_project_login_remember_me'}}</label>
                                </div>
                                
                                <div class="mt-3">
                                    <button class="btn btn-primary btn-block waves-effect waves-light" type="button" id="btn_Submit">{{transl 'prj_project_login_log_in'}}</button>
                                </div>
    
                                <div class="mt-4 text-center">
                                    <a href="auth-recoverpw.html" class="text-muted"><i class="mdi mdi-lock mr-1"></i>{{transl 'prj_project_login_forgot_pwd'}}</a>
                                </div>
                            </form>
                        </div>
    
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <p>{{transl 'prj_project_login_msg_no_account'}}<a id="btn_register" href="#" class="font-weight-medium text-primary">{{transl 'prj_project_login_signup_now'}}</a> </p>
                </div>

            </div>
        </div>
    </div>
</div>